@media screen and (max-width: 1024px){

  .center-header{
    width: 100%;
    text-align: center;
    margin:0;
    height: auto;
  }

  .container-banner{
    padding :40px 2%;
    width: 100%;
    height: auto;
    text-align: center;
   
  }

  .form{
    max-width: 400px;
    width: 60%;
    height: 100%;
    
    padding: 10px;
  
    float: right;
    margin-top: 30px;
  }

  .container-list{
    
    float: left;
    max-width: 519px;
    width: 40%;
    height: auto;
    margin-top: 19px;
    padding: 40px;
  }

  .input-container input[type="text"]{
    width: 100%;
    height: 55px;
  }

  .form input[type="submit"]{
    max-width: 280px;
    width: 100%;
    height: 56px;
    
  }
}

@media screen and (max-width: 768px){
  .container-list{
    margin-top:0;
    float: none;
    display: inline-block;
    width: 100%;
  }

  .form{
    float: none;
    display: inline-block;
    width: 90%;
    margin-top: 30px;
  }

  .single{
    max-width: 600px;
    width: 100%;
    float: none;
    display: inline-block;
  }

}